<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="person-fio">{{user?.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="person-field-title">Номер телефона</p>
                <p class="person-field-value">{{user?.phoneNumber | phone }}</p>
            </div>
            <div class="col-md-4">
                <p class="person-field-title">Электронная почта</p>
                <p class="person-field-value">{{user?.email | phone }}</p>
            </div>
        </div>
        <div class="row spacer main-top-padding"></div>
        <div class="row main-top-padding">
            <div class="col-md-12">
                <p class="person-notify">Уведомления</p>
                <p class="person-field-title">Если не хотите видеть уведомления, то вы можете их отключить</p>
            </div>
        </div>
        <div class="row main-top-padding">
            <div class="col-md-5">
                <mat-slide-toggle [checked]="!user?.emailNotUsed" (change)="changeEmail()">Уведомлять по E-mail</mat-slide-toggle>
            </div>
            <!--<div class="col-md-5">
                <mat-slide-toggle [checked]="!user?.smsNotUsed" (change)="changeSms()">Уведомлять по SMS</mat-slide-toggle>
            </div>-->
        </div>
    </div>
</div>
