<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="person-fio">{{user?.username}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="person-field-title">Имя</p>
                <p class="person-field-value">{{user?.firstName }}</p>
            </div>
            <div class="col-md-4">
                <p class="person-field-title">Фамилия</p>
                <p class="person-field-value">{{user?.lastName }}</p>
            </div>
            <div class="col-md-4">
                <p class="person-field-title">Номер телефона</p>
                <p class="person-field-value">{{user?.phone | phone }}</p>
            </div>
            <div class="col-md-4">
                <p class="person-field-title">Электронная почта</p>
                <p class="person-field-value">{{user?.email }}</p>
            </div>
        </div>
    </div>
</div>
