<div class="container-fluid" *ngIf="selectedFinApplication">
    <div class="row">
        <div class="wizard-form-width container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <otus-architect-application-wizard-bg
                            [finApplication]="selectedFinApplication"
                            *ngIf="selectedFinApplication.status === 'NEW'"></otus-architect-application-wizard-bg>
                    <otus-architect-application-wizard-default
                            [finApplication]="selectedFinApplication"
                            *ngIf="!selectedFinApplication.status"></otus-architect-application-wizard-default>
                </div>
            </div>
        </div>
    </div>
</div>
