<div class="container-fluid application-view-card">
    <div class="row" *ngIf="loading || !application">
        <div class="col-md-12">
            <otus-architect-center-spinner></otus-architect-center-spinner>
        </div>
    </div>
    <ng-container *ngIf="!loading">
        <div class="row" *ngIf="!!application">
            <div class="col-md-12">
                <p class="application-field-title">Вид гарантии</p>

                <p class="application-field-value">{{kind?.title}}</p>
            </div>
            <div class="col-md-4">
                <span class="application-field-title">Сумма гарантии</span>

                <p class="application-field-value">{{application.limit | number:'0.0-0'}} &#8381;</p>
            </div>
            <div class="col-md-4">
                <span class="application-field-title">Дата начала гарантии</span>

                <p class="application-field-value">{{application.startDate | date:'dd.MM.yyyy'}}</p>
            </div>
            <div class="col-md-4">
                <span class="application-field-title">Дата окончания гарантии</span>

                <p class="application-field-value">{{application.endDate | date:'dd.MM.yyyy'}}</p>
            </div>
        </div>
        <div class="row" *ngIf="!!deliveryInfo">
            <div class="col-md-12">
                <p class="application-field-title">Способ получения оригинала</p>

                <p class="application-field-value">
                    {{(!!deliveryType && !!deliveryType.displayValue) ? deliveryType.displayValue : deliveryType?.title}}
                </p>
            </div>
            <div class="col-md-12">
                <p class="application-field-title">Адрес доставки</p>

                <p class="application-field-value">{{deliveryInfo?.address?.value}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="application-field-title">Комиссия</span>
                <p class="application-field-value">{{application.commission | number:'0.2-2'}} &#8381;</p>
            </div>
            <div class="col-md-4">
                <span class="application-field-title">Фактическая ставка</span>
                <p class="application-field-value">{{application.rateFact| number:'0.2-2'}} %</p>
            </div>
            <div class="col-md-4" *ngIf="userRoles && (userRoles.includes('ROLE_AGENT') && userRoles.includes('ROLE_REWARD_VISIBLE'))">
                <span class="application-field-title">Агентское вознаграждение</span>
                <p class="application-field-value">{{application.agentCommission | number:'0.2-2'}} &#8381;</p>
            </div>
        </div>
    </ng-container>
</div>
