@import "../../../../assets/scss/core/variables";
@import "../../../../assets/scss/core/mixins";

.application-view-card {
  border: 1px solid $brand-secondary;
  border-radius: 6px;
  padding: 16px 24px !important;
}

.application-view-card .row {
  margin: 0;
}

.view-spacer {
  border-top: 1px solid $brand-secondary;
  padding-top: 15px;
}

.fin-app-form {
  border: 1px solid $brand-secondary;
  border-radius: 6px;
  padding: 16px 24px !important;
}

.application-field-title {
  color: $brand-gray;
  @include font-roboto-13(400);
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}

.application-field-value {
  color: $brand-black;
  @include font-roboto-13(400);
  margin-block-start: 0em !important;
  margin-block-end: 0.5em !important;
}

.application-name {
  color: $brand-black;
  @include font-roboto-15(500);
  margin-block-start: 0em !important;
  margin-block-end: 0.5em !important;
}
