<div class="main-top-padding">
    <h3>Описание</h3>
    <p [innerHTML]="selectedProduct?.description"></p>
    <h3>Характеристики</h3>
    <ng-container *ngIf="selectedProduct">
        <ng-container *ngFor="let group of parseDetails(selectedProduct.details)['groups']">
            <h4>{{group.name}}</h4>
            <ul>
                <li *ngFor="let parameter of group.parameters">
                    {{parameter.name}}:&nbsp;&nbsp;{{parameter.value}}
                </li>
            </ul>
        </ng-container>
    </ng-container>
</div>

<h3>Цены</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid selectedProduct-view-card">
                <div class="row" *ngIf="loading || !selectedProduct">
                    <div class="col-md-12">
                        <otus-architect-center-spinner></otus-architect-center-spinner>
                    </div>
                </div>
                <ng-container *ngIf="!loading">
                    <div class="row" *ngIf="!!selectedProduct.prices && !!selectedProduct.prices.basePrice">
                        <div class="col-md-4">
                            <span class="selectedProduct-field-title">Базовая цена ({{selectedProduct.prices.basePrice.quantity}} шт.)</span>

                            <p class="selectedProduct-field-value">{{selectedProduct.prices.basePrice.value | number:'0.0-0'}}
                                &#8381;</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="!!selectedProduct.prices && !!selectedProduct.prices.additionalPrices">
                        <div class="col-md-4" *ngFor="let price of selectedProduct.prices.additionalPrices">
                            <span class="selectedProduct-field-title">Цена за {{price.quantity}} шт.</span>

                            <p class="selectedProduct-field-value">{{price.value | number:'0.0-2'}}
                                &#8381;</p>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</div>

<h3>Наличие товара</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid selectedProduct-view-card">
                <div class="row" *ngIf="loading || !selectedProduct">
                    <div class="col-md-12">
                        <otus-architect-center-spinner></otus-architect-center-spinner>
                    </div>
                </div>
                <ng-container *ngIf="!loading">
                    <div class="row" *ngIf="!!selectedProduct">
                        <div class="col-md-4" *ngIf="!!selectedProduct.store">
                            <span class="selectedProduct-field-title">Доступно</span>

                            <p class="selectedProduct-field-value">{{selectedProduct.store.availableQuantity | number:'0.0-0'}}</p>
                        </div>
                        <div class="col-md-4" *ngIf="!selectedProduct.store || !!selectedProduct.error_storeError">
                            <p class="selectedProduct-field-value">Не удалось получить данные склада</p>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</div>
