<div class="bg-white container-fluid row no-margin no-padding">
    <div class="spacer-panel"></div>
    <div class="application-form">
        <ng-container *ngIf="!isLoadingFinApplication && selectedFinApplication; else noFinApplication">
            <otus-architect-application-processed-view
                    *ngIf="isRedirectToProcessedView; else userInteractive"></otus-architect-application-processed-view>
            <ng-template #userInteractive>
                <otus-architect-application-buttons title="{{'Назад'}}"
                                                    [application]="selectedFinApplication"
                                                    (onGoBack)="this.router.navigate(['dashboard'])"
                ></otus-architect-application-buttons>
                <div class="container-fluid no-padding">
                    <div class="row main-top-padding">
                        <div class="col-md-12">
                            <span class="application-info">{{selectedFinApplication.date |  date:'dd.MM.yyyy'}}</span>
                            <span class="stage-name-label" [ngClass]="{
                                        'stage-red': isErrorStatus(selectedFinApplication.status),
                                        'stage-gray': isUserStatus(selectedFinApplication.status),
                                        'stage-blue': isProcessingStatus(selectedFinApplication.status),
                                        'stage-green': isCompletedStatus(selectedFinApplication.status)
                                    }">
                                        {{getStatusTitle(selectedFinApplication.status)}}
                                    </span>
                        </div>
                    </div>
                    <div class="row main-top-padding">
                        <h2 class="card-title col-md-12">Заказ №{{selectedFinApplication.orderId}}</h2>
                    </div>
                    <div class="row main-top-padding" *ngIf="selectedFinApplication && selectedFinApplication.status">
                        <div class="col-md-12">
                            <otus-architect-application-complete-view
                                    [finApplication]="selectedFinApplication"
                            ></otus-architect-application-complete-view>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #noFinApplication>
            <otus-architect-go-to-welcome title="{{'Назад'}}" route="{{'/'}}"></otus-architect-go-to-welcome>
            <div class="container-fluid main-top-padding">
                <div class="row">
                    <div class="spacer-panel"></div>
                    <ng-container *ngIf="isLoadingFinApplication; else applicationNotFound">
                        <mat-spinner mode="indeterminate" diameter="60"></mat-spinner>
                    </ng-container>
                    <ng-template #applicationNotFound>
                        <span>Заказ не найден</span>
                    </ng-template>
                    <div class="spacer-panel"></div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="spacer-panel"></div>
</div>
