<div class="container-fluid">
    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <otus-architect-center-spinner></otus-architect-center-spinner>
        </div>
    </div>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="!_deliveryInfo">
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-delivery-info-name">Данные формы не найдены</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="_deliveryInfo">
            <form [formGroup]="fg" role="form" autocomplete="off">
                <div class="row main-top-padding">
                    <div class="col-md-12">
                        <mat-label>Адрес доставки</mat-label>
                        <input matInput type="text" placeholder="+7(000) 000-00-00"
                               [errorStateMatcher]="matcher"
                               formControlName="address">
                    </div>
                </div>
            </form>
        </ng-container>
    </ng-container>
</div>
