<div class="container-fluid fin-app-contract-view-card">
    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <otus-architect-center-spinner></otus-architect-center-spinner>
        </div>
    </div>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="!contract">
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-contract-name">Данные формы не найдены</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="contract">
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-contract-field-title">Номер закупки</p>
                    <p class="fin-app-contract-field-value">{{contract.number}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-contract-field-title">Заказчик</p>
                    <p class="fin-app-contract-field-value">{{contract.customerName}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-contract-field-title">Адрес регистрации</p>
                    <p class="fin-app-contract-field-value">{{contract.customerRegAddress}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-contract-field-title">Предмет контракта</p>
                    <p class="fin-app-contract-field-value">{{contract.contractObject}}</p>
                </div>
            </div>
            <div class="row view-spacer" *ngIf="editable">
                <div class="col-md-12" *ngIf="editable">
                    <mat-slide-toggle [checked]="contract.advance" (change)="changeAdvance()">Наличие аванса по контракту</mat-slide-toggle>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
