<div class="buorg" id="buorg" style="cursor: pointer;" *ngIf="invalidBrowser()">
    <div class="buorg-pad">
        <span class="buorg-icon"> </span>
        <b class="buorg-mainmsg">Ваш браузер ({{browserName()}}) устарел.</b>
        <span class="buorg-moremsg">Обновите ваш браузер для повышения уровня безопасности, скорости и комфорта использования этого сайта.</span>
        <span class="buorg-buttons">
            <a id="buorgul"
               href="https://browser-update.org/update-browser.html?force_outdated=true#3.2.8:browser-update.org"
               target="_blank" rel="noopener">Обновить браузер</a>
            <a id="buorgig" (click)="ignoreNotification()">Игнорировать</a>
        </span>
        <style>
            .buorg-icon {
                width: 22px;
                height: 16px;
                vertical-align: middle;
                position: relative;
                top: -0.05em;
                display: inline-block;
            }

            .buorg {
                position: absolute;
                position: fixed;
                z-index: 111111;
                width: 100%;
                top: 0px;
                left: 0px;
                border-bottom: 1px solid #A29330;
                text-align: center;
                color: #000;
                background-color: #fff8ea;
                font: 18px Calibri, Helvetica, sans-serif;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                animation: buorgfly 1s ease-out 0s;
            }

            .buorg-pad {
                padding: 9px;
                line-height: 1.7em;
            }

            .buorg-buttons {
                display: block;
                text-align: center;
            }

            #buorgig, #buorgul, #buorgpermanent {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
                padding: 1px 10px;
                border-radius: 4px;
                font-weight: normal;
                background: #5ab400;
                white-space: nowrap;
                margin: 0 2px;
                display: inline-block;
            }

            #buorgig {
                background-color: #edbc68;
            }

            @media only screen and (max-width: 700px) {
                .buorg div {
                    padding: 5px 12px 5px 9px;
                    line-height: 1.3em;
                }
            }

            @keyframes buorgfly {
                from {
                    opacity: 0;
                    transform: translateY(-50px)
                }
                to {
                    opacity: 1;
                    transform: translateY(0px)
                }
            }

            .buorg-fadeout {
                transition: visibility 0s 8.5s, opacity 8s ease-out .5s;
            }

            .buorg {
                bottom: 0;
                top: auto;
                border-top: 1px solid #A29330;
            }

            @keyframes buorgfly {
                from {
                    opacity: 0;
                    transform: translateY(50px)
                }
                to {
                    opacity: 1;
                    transform: translateY(0px)
                }
            }
        </style>
    </div>
</div>
