.simple-form-panel {
  width: 900px !important;
  padding: 40px 60px !important;
}

.simple-main-content {
  padding: 180px 150px 250px !important;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .simple-form-panel {
    width: 768px !important;
    padding: 0 24px !important;
  }
  .simple-main-content {
    padding: 280px 116px 352px !important;
  }
}
