<div class="container-fluid processed-view-padding">
    <div class="row">
        <div class="col-md-12">
            <div class="center-text">
                <img src="assets/img/paper-plane.png" width="298px" height="201px">
                <h2>Ваша заявка отправлена на подпись/рассмотрение</h2>
            </div>
            <div class="container-fluid main-top-padding">
                <div class="row">
                    <div class="spacer-panel"></div>
                    <button mat-raised-button class="btn btn-primary btn-lg next-btn wait-btn"
                            (click)="goToDashboard()">
                        Отлично, буду ожидать
                    </button>
                    <div class="spacer-panel"></div>
                </div>
            </div>
        </div>
    </div>
</div>
