// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #3F78FD !default;
$brand-secondary:            #dde2ed !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              #1fc46c !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               #ed4545 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
$brand-gray:                 #aaafbd !default;
$brand-primary-light:        rgb(245, 248, 255) !default;
$brand-black:                #333a41 !default;
$brand-gray-dark:            #8d93a1 !default;
$brand-black-light:          #404652 !default;
$brand-white-dirty:          #f7f7f7 !default;
$brand-background-gray:      #606775 !default;
$brand-white:                #ffffff !default;
$brand-success-light:        #edf2fb !default;
