<div class="container-fluid fin-app-form-view-card">
    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <otus-architect-center-spinner></otus-architect-center-spinner>
        </div>
    </div>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="!_form">
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-form-name">Данные формы не найдены</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="_form">
            <div class="row">
                <div class="col-md-12">
                    <p class="fin-app-form-name">{{_form.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="showFields.includes('inn')">
                    <p class="fin-app-form-field-title">ИНН</p>

                    <p class="fin-app-form-field-value">{{_form.inn}}</p>
                </div>
                <div class="col-md-3" *ngIf="showFields.includes('ogrn')">
                    <p class="fin-app-form-field-title">ОГРН{{_form.ip ? ' ИП' : ''}}</p>

                    <p class="fin-app-form-field-value">{{_form.ogrn}}</p>
                </div>
                <div class="col-md-3" *ngIf="showFields.includes('registrationDate')">
                    <p class="fin-app-form-field-title">Дата регистрации</p>

                    <p class="fin-app-form-field-value">{{_form.registrationDate | date:'dd.MM.yyyy'}}</p>
                </div>
            </div>
            <div *ngIf="_form.ip && showFields.includes('ip')">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Дата рождения</p>

                        <p class="fin-app-form-field-value">{{_form.birthDate | date:'dd.MM.yyyy'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" *ngIf="identityDocument">
                        <p class="fin-app-form-name">{{identityDocument?.name}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Серия</p>

                        <p class="fin-app-form-field-value">{{_form.series}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Номер</p>

                        <p class="fin-app-form-field-value">{{_form.number}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Дата выдачи</p>

                        <p class="fin-app-form-field-value">{{_form.issueDate | date:'dd.MM.yyyy'}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Код подразделения</p>

                        <p class="fin-app-form-field-value">{{_form.codeDivision}}</p>
                    </div>
                    <div class="col-md-12">
                        <p class="fin-app-form-field-title">Кем выдан</p>

                        <p class="fin-app-form-field-value">{{_form.issuedBy}}</p>
                    </div>
                    <div class="col-md-12">
                        <p class="fin-app-form-field-title">Место рождения</p>

                        <p class="fin-app-form-field-value">{{_form.placeOfBirth}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngIf="showFields.includes('regAddress')">
                    <p class="fin-app-form-field-title">Адрес регистрации</p>

                    <p class="fin-app-form-field-value">{{_form.regAddress?.value}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngIf="showFields.includes('factAddress')">
                    <p class="fin-app-form-field-title">Адрес фактического местонахождения</p>

                    <p class="fin-app-form-field-value">{{_form.factAddress?.value}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" *ngIf="showFields.includes('phone')">
                    <p class="fin-app-form-field-title">Номер телефона{{(_form.ip) ? ' ' : ' организации'}}</p>

                    <p class="fin-app-form-field-value">{{_form.phone?.value}}</p>
                </div>
                <div class="col-md-6" *ngIf="showFields.includes('mail')">
                    <p class="fin-app-form-field-title">Электронная почта{{(_form.ip) ? ' ' : ' организации'}}</p>

                    <p class="fin-app-form-field-value">{{_form.mail?.value}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" *ngIf="showFields.includes('site')">
                    <p class="fin-app-form-field-title">Веб-сайт</p>

                    <p class="fin-app-form-field-value">{{_form.site?.value}}</p>
                </div>
            </div>
            <div *ngIf="_form.ip && showFields.includes('ip')">
                <div class="row view-spacer" [ngClass]="{'hidden': _form.resident}">
                    <div class="col-md-12">
                        <p class="fin-app-form-name">Данные об иностранном гражданине</p>
                    </div>
                    <div class="col-md-12">
                        <p class="fin-app-form-field-title">Страна</p>

                        <p class="fin-app-form-field-value">{{country?.name}}</p>
                    </div>
                </div>
                <div class="row" [ngClass]="{'hidden': migrationCardValueNotRequired}">
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Серия миграционной карты</p>

                        <p class="fin-app-form-field-value">{{_form.migrationCardNumber}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Номер миграционной карты</p>

                        <p class="fin-app-form-field-value">{{_form.migrationCardNumber}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Дата начала пребывания</p>

                        <p class="fin-app-form-field-value">{{_form.migrationCardFromDate | date:'dd.MM.yyyy'}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Дата окончания пребывания</p>

                        <p class="fin-app-form-field-value">{{_form.migrationCardToDate | date:'dd.MM.yyyy'}}</p>
                    </div>
                </div>
                <div class="row view-spacer" [ngClass]="{'hidden': migrationCardAbsenceNotRequired}">
                    <div class="col-md-12">
                        <p class="fin-app-form-field-title">Причина отсутствия миграционной карты</p>

                        <p class="fin-app-form-field-value">{{_form.migrationCardAbsenceReason}}</p>
                    </div>
                </div>

                <div class="row view-spacer" [ngClass]="{'hidden': visaValueNotRequired}">
                    <div class="col-md-12" *ngIf="confirmStayDocument">
                        <p class="fin-app-form-name">{{confirmStayDocument?.name}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Серия документа</p>

                        <p class="fin-app-form-field-value">{{_form.visaSeries}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Номер документа</p>

                        <p class="fin-app-form-field-value">{{_form.visaNumber}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Начало срока действия</p>

                        <p class="fin-app-form-field-value">{{_form.visaFromDate | date:'dd.MM.yyyy'}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="fin-app-form-field-title">Окончание срока действия</p>

                        <p class="fin-app-form-field-value">{{_form.visaToDate | date:'dd.MM.yyyy'}}</p>
                    </div>
                </div>
                <div class="row view-spacer" [ngClass]="{'hidden': migrationCardAbsenceNotRequired}">
                    <div class="col-md-12">
                        <p class="fin-app-form-field-title">Причина отсутствия документа</p>
                        <p class="fin-app-form-field-value">{{_form.visaAbsenceReason}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
