<mat-list *ngIf="!!selectedFinApplication && !!selectedFinApplicationForm &&!!steps" class="wizard-steps">
    <ng-container *ngFor="let step of steps">
        <mat-list-item *ngIf="isStepAvailable(step)">
        <span class="step-wrapper">
            <span [ngClass]="{
                'active-step': isActiveStep(step),
                'future-step': isFutureStep(step),
                'completed-step': isCompletedStep(step)
            }" class="step">{{step.title}}</span>
            <i class="material-icons completed-icon" *ngIf="isCompletedStep(step)">done</i>
        </span>
        </mat-list-item>
    </ng-container>
</mat-list>
