<div class="container-fluid person-view-card">
    <div class="row" *ngIf="loading">
        <div class="spacer-panel"></div>
        <mat-spinner mode="indeterminate" diameter="60"></mat-spinner>
        <div class="spacer-panel"></div>
    </div>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="!_person">
            <div class="row">
                <div class="col-md-12">
                    <p class="person-form-name">Данные формы не найдены</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="_person">
            <div class="row">
                <div class="col-md-12">
                    <p class="person-form-name">{{_person.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" *ngIf="!hideFields.includes('percent')">
                    <p class="person-form-field-title">Доля владения</p>

                    <p class="person-form-field-value">{{_person.percent}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('birthDate')">
                    <p class="person-form-field-title">Дата рождения</p>

                    <p class="person-form-field-value">{{_person.birthDate | date:'dd.MM.yyyy'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngIf="identityDocument">
                    <p class="person-form-name">{{identityDocument?.name}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('series')">
                    <p class="person-form-field-title">Серия</p>

                    <p class="person-form-field-value">{{_person.series}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('number')">
                    <p class="person-form-field-title">Номер</p>

                    <p class="person-form-field-value">{{_person.number}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('issueDate')">
                    <p class="person-form-field-title">Дата выдачи</p>

                    <p class="person-form-field-value">{{_person.issueDate | date:'dd.MM.yyyy'}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('codeDivision')">
                    <p class="person-form-field-title">Код подразделения</p>

                    <p class="person-form-field-value">{{_person.codeDivision}}</p>
                </div>
                <div class="col-md-12" *ngIf="!hideFields.includes('issuedBy')">
                    <p class="person-form-field-title">Кем выдан</p>

                    <p class="person-form-field-value">{{_person.issuedBy}}</p>
                </div>
                <div class="col-md-12" *ngIf="!hideFields.includes('placeOfBirth')">
                    <p class="person-form-field-title">Место рождения</p>

                    <p class="person-form-field-value">{{_person.placeOfBirth}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" *ngIf="!hideFields.includes('regAddress')">
                    <p class="person-form-field-title">Адрес регистрации</p>

                    <p class="person-form-field-value">{{_person.regAddress?.value}}</p>
                </div>
                <div class="col-md-12" *ngIf="!hideFields.includes('factAddress')">
                    <p class="person-form-field-title">Адрес фактического местонахождения</p>

                    <p class="person-form-field-value">{{_person.factAddress?.value}}</p>
                </div>
            </div>
            <div class="row view-spacer" [ngClass]="{'hidden': _person.resident}">
                <div class="col-md-12">
                    <p class="person-form-name">Данные об иностранном гражданине</p>
                </div>
                <div class="col-md-12" *ngIf="!hideFields.includes('country')">
                    <p class="person-form-field-title">Страна</p>

                    <p class="person-form-field-value">{{country?.name}}</p>
                </div>
            </div>
            <div class="row" [ngClass]="{'hidden': migrationCardValueNotRequired}">
                <div class="col-md-3" *ngIf="!hideFields.includes('migrationCardSeries')">
                    <p class="person-form-field-title">Серия миграционной карты</p>

                    <p class="person-form-field-value">{{_person.migrationCardNumber}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('migrationCardNumber')">
                    <p class="person-form-field-title">Номер миграционной карты</p>

                    <p class="person-form-field-value">{{_person.migrationCardNumber}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('migrationCardFromDate')">
                    <p class="person-form-field-title">Дата начала пребывания</p>

                    <p class="person-form-field-value">{{_person.migrationCardFromDate | date:'dd.MM.yyyy'}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('migrationCardToDate')">
                    <p class="person-form-field-title">Дата окончания пребывания</p>

                    <p class="person-form-field-value">{{_person.migrationCardToDate | date:'dd.MM.yyyy'}}</p>
                </div>
            </div>
            <div class="row view-spacer" [ngClass]="{'hidden': migrationCardAbsenceNotRequired}">
                <div class="col-md-12" *ngIf="!hideFields.includes('migrationCardAbsenceReason')">
                    <p class="person-form-field-title">Причина отсутствия миграционной карты</p>

                    <p class="person-form-field-value">{{_person.migrationCardAbsenceReason}}</p>
                </div>
            </div>

            <div class="row view-spacer" [ngClass]="{'hidden': visaValueNotRequired}">
                <div class="col-md-12" *ngIf="confirmStayDocument">
                    <p class="person-form-name">{{confirmStayDocument?.name}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('visaNumber')">
                    <p class="person-form-field-title">Серия документа</p>

                    <p class="person-form-field-value">{{_person.visaSeries}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('visaNumber')">
                    <p class="person-form-field-title">Номер документа</p>

                    <p class="person-form-field-value">{{_person.visaNumber}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('visaFromDate')">
                    <p class="person-form-field-title">Начало срока действия</p>

                    <p class="person-form-field-value">{{_person.visaFromDate | date:'dd.MM.yyyy'}}</p>
                </div>
                <div class="col-md-3" *ngIf="!hideFields.includes('visaToDate')">
                    <p class="person-form-field-title">Окончание срока действия</p>

                    <p class="person-form-field-value">{{_person.visaToDate | date:'dd.MM.yyyy'}}</p>
                </div>
            </div>
            <div class="row view-spacer" [ngClass]="{'hidden': migrationCardAbsenceNotRequired}">
                <div class="col-md-12" *ngIf="!hideFields.includes('visaAbsenceReason')">
                    <p class="person-form-field-title">Причина отсутствия документа</p>
                    <p class="person-form-field-value">{{_person.visaAbsenceReason}}</p>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
