<otus-architect-browser-update></otus-architect-browser-update>
<div class="row no-margin spacer-panel">
    <div class="spacer-panel"></div>
    <div class="unauthorized-form-panel">
        <otus-architect-unauthorized-navbar></otus-architect-unauthorized-navbar>
        <div class="unauthorized-main-content">
            <router-outlet></router-outlet>
        </div>
        <otus-architect-unauthorized-footer></otus-architect-unauthorized-footer>
    </div>
    <div class="unauthorized-promo-panel">
        <otus-architect-promo-panel></otus-architect-promo-panel>
    </div>
    <div class="spacer-panel"></div>
</div>
