<div class="bg-light-blue container-fluid row no-margin no-padding">
    <div class="spacer-panel"></div>
    <div class="otus-architect-dashboard-width">
        <div class="container-fluid">
            <div class="row">
                <h1 class="card-title col-md-6 dashboard-header-padding">
                    Каталог товаров
                </h1>
                <div class="col-md-3 dashboard-contract-label-padding"></div>
            </div>
        </div>
    </div>
    <div class="spacer-panel"></div>
</div>
<div class="bg-white container-fluid row no-margin no-padding last-element-on-page">
    <div class="spacer-panel"></div>
    <div class="otus-architect-dashboard-width">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <otus-architect-product-list></otus-architect-product-list>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer-panel"></div>
</div>
