<div class="container-fluid contact-view-card">
    <div class="row" *ngIf="loading">
        <div class="spacer-panel"></div>
        <mat-spinner mode="indeterminate" diameter="60"></mat-spinner>
        <div class="spacer-panel"></div>
    </div>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="!contactInfo">
            <div class="row">
                <div class="col-md-12">
                    <p class="contact-form-name">Данные формы не найдены</p>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="contactInfo">
            <div class="row">
                <div class="col-md-12">
                    <p class="contact-form-name">{{contactInfo.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="contact-form-field-title">Номер телефона</p>

                    <p class="contact-form-field-value">{{contactInfo?.phone?.value | phone}}</p>
                </div>
                <div class="col-md-6">
                    <p class="contact-form-field-title">Электронная почта</p>

                    <p class="contact-form-field-value">{{contactInfo?.mail?.value}}</p>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
