@import "../scss/core/variables";
@import "../scss/core/mixins";

.simple-file-not-editable {
  padding-top: 0;
  margin: 0 !important;
}

.file-main {
  border: 1px solid $brand-secondary;
  border-radius: 6px;
  background-color: $brand-white;
  padding: 10px !important;
}

.file-main .row {
  margin-left: 0;
  margin-right: 0;
}

.file-name {
  @include font-roboto-13(500);
  color: $brand-black;
}

.file-size {
  @include font-roboto-11(400);
  color: $brand-black;
  padding-left: 5px;
}

.file-icon {
  color: $brand-gray;
}
