<div class="justify-content-end navbar-no-grow height-54" id="navigation">
    <ul class="navbar-nav height-54">
        <li class="nav-item height-54 fio-padding">
            <otus-architect-two-titles-panel [title]="!company ? name : company" [subTitle]="!company ? null : name" titleClass="font-otus-architect-roboto-medium-13"></otus-architect-two-titles-panel>
        </li>
        <li class="nav-item height-54 color-otus-architect-gray action-border">
            <div *ngIf="isSettingsRoute" class="settings-route-active"></div>
            <a class="nav-link height-54 pointer" (click)="goToSettings()" [ngClass]="{'if-active': isSettingsRoute}">
                <i class="material-icons">settings</i>
            </a>
        </li>
        <li class="nav-item height-54 color-otus-architect-gray action-border">
            <a class="nav-link height-54 pointer" href="#" (click)="logout()">
                <i class="material-icons">logout</i>
            </a>
        </li>
    </ul>
</div>
