@import "../scss/core/variables";

.row-small-line-height {
  line-height: 1 !important;
}

.color-otus-architect-black {
  color: $brand-black;
}

.color-otus-architect-gray {
  color: $brand-gray;
}
