<div class="container-fluid no-padding no-margin">
    <div class="row no-padding no-margin row-small-line-height">
        <div class="col-12 no-padding no-margin">
            <span class="color-otus-architect-black {{!titleClass ? 'font-otus-architect-roboto-regular-13' : titleClass}}" *ngIf="title">{{title}}</span>
        </div>
        <div class="col-12 no-padding no-margin">
            <span class="color-otus-architect-gray {{!subTitleClass ? 'font-otus-architect-roboto-regular-11' : subTitleClass}}" *ngIf="subTitle">{{subTitle}}</span>
        </div>
    </div>
</div>
